h1, h2 { color: navy; }
p { font-size: 13px; }
input { margin-top: 50px}
:host {
    font-family: Verdana;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}